{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="content-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1><strong>Format Surat Akademi Teknologi Industri Dewantara Palopo</strong></h1>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="content-fluid">
            {% for pesan in messages %}
            {% if pesan.tags == 'success' %}
            <div class="alert alert-success col-md-4"><i class="bi bi-check-circle"></i><strong> Berhasil!</strong>
                {{pesan}}
            </div>
            {% else %}
            <div class="alert alert-danger col-md-4"><i class="bi bi-check-circle"></i><strong> Gagal!</strong>
                {{pesan}}
            </div>
            {% endif %}
            {% endfor %}

            <a href="{% url 'keluar' %}" class="btn btn-danger float-right mb-3" role="button"> Keluar
                <i class="bi bi-box-arrow-in-left"></i>
            </a>

            <button type="button" class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#myModal"><i
                    class="bi bi-plus-circle"></i> Tambah</button><br>


            <table class="table table-striped" id="datatable">
                <thead>
                    <tr class="table-danger">
                        <th scope="col">#</th>
                        <th scope="col" style="width:70%">Format Surat</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>

                <tbody>
                    {% for f in file %}
                    <tr class="table-info">
                        <th scope="row">{{f.id}}</th>
                        <td>{{f.filename}}</td>
                        <td><a href="{{ f.pdf.url }}" class="btn btn-warning" target="_blank" data-bs-toggle="tooltip"
                                data-placement="top" title="Lihat">
                                <i class="bi bi-eye"></i></a>
                            <a href="{{ f.pdf.url }}" download class="btn btn-success" data-bs-toggle="tooltip"
                                data-placement="top" title="Download">
                                <i class="bi bi-download"></i></a>
                            <button data-bs-toggle="modal" data-bs-target="#hapus-format-surat-{{f.id}}"
                                class="btn btn-danger" data-bs-toggle="tooltip" data-placement="top" title="Hapus">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>

                    <div class="modal fade" id="hapus-format-surat-{{f.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Hapus</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda yakin ingin menghapus format surat ini?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Batal</button>
                                    <a href="{% url 'hapus_format' f.id %}" type="button"
                                        class="btn btn-danger">Hapus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </tbody>
            </table>
            
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h5 class="modal-title">Upload Format Surat</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/format-surat/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.as_p}}

                                <button type="submit" class="btn btn-info">Simpan</button>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}